/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/
 
 .portfolio {
 	position: relative;
 }

.back {
	position: relative;
}

.front {
	position: absolute;
}

.front,.back {
	  transform-style: preserve-3d;
  	transition: transform 3s;
   }

.portfolio-item:hover > .front {
  	transform: rotateY( 0deg );

}
.portfolio-item:hover > .back {
  	transform: rotateY( 360deg );
  	backface-visibility: hidden;
  }